@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --navbar-height: 4rem;
    background: white;
}



/* 
.point.selected circle {
    filter: blur(0.015px);
}

.image {
    transition: opacity 500ms;
}

.image-figure.selected-root {
    opacity: 0.75;
    filter: contrast(1.25) blur(0.05px);
}


.line .handle {
    fill: #aaa;
}

.text {
    fill: var(--color-primary);
    font-size: 0.5;
}

.text .background {
    stroke: var(--color-contrast);
    stroke-width: 0.15;
}

.text.selected .background {
    stroke-width: 0.25;
}

.text.selected {
    fill: var(--color-selected)
}

*/